<div class="nav-bar">
  <div class="nav-bar-small-screen">
    <div class="flex-left-side">
      <button type="button" class="show-menu-btn"></button>
      <img
        src="../../assets/wiki-text-logo.svg"
        alt="Wikiped text logo"
        class="wiki-text-logo"
      />
    </div>

    <div class="flex-right-side"></div>
  </div>

  <div class="nav-bar-large-screen">
    <div class="user-control-bar">
      <ul class="horizontal-links-ul">
        <li *ngIf="!loggedIn" class="no-bullet-li horizontal-links-li">
          <a
            routerLink="/user/register"
            ariaCurrentWhenActive="page"
            class="small-anchor"
            >Create account</a
          >
        </li>
        <li *ngIf="!loggedIn" class="no-bullet-li horizontal-links-li">
          <a
            routerLink="/user/login"
            ariaCurrentWhenActive="page"
            class="small-anchor"
            >Sign in</a
          >
        </li>
        <li *ngIf="loggedIn" class="no-bullet-li horizontal-links-li">
          <a
            routerLink="/user/{{ currentUsername }}/profile"
            ariaCurrentWhenActive="page"
            class="small-anchor"
            title="View/Edit your User Profile."
            >{{ currentUser }}</a
          >
        </li>
        <li
          *ngIf="loggedIn && currentRole === 'admin'"
          class="no-bullet-li horizontal-links-li"
        >
          <a
            routerLink="/user/{{ currentUsername }}/admin"
            ariaCurrentWhenActive="page"
            class="small-anchor"
            title="View/Edit your User Profile."
            >Admin Dashboard</a
          >
        </li>
        <li *ngIf="loggedIn" class="no-bullet-li horizontal-links-li">
          <a
            routerLink="/"
            ariaCurrentWhenActive="page"
            (click)="logOut()"
            class="small-anchor"
            >Sign out</a
          >
        </li>
      </ul>
    </div>

    <div class="page-control-bar">
      <div class="page-control-left-side">
        <ul class="horizontal-links-ul">
          <li class="no-bullet-li horizontal-links-li">
            <span class="small-anchor">{{ pageType }}</span>
            <span
              *ngIf="viewingArticle && pageEditors.length"
              class="small-anchor"
            >
              (User/s currently editing this article:
              <span *ngFor="let editor of pageEditors; index as i">
                <a routerLink="/user/{{ editor }}/profile">{{ editor }}</a>
                <span>{{
                  i < pageEditors.length - 1
                    ? i === pageEditors.length - 2
                      ? " and "
                      : ", "
                    : "."
                }}</span>
              </span>)
            </span>
          </li>
          <!-- <li class="no-bullet-li horizontal-links-li"> TO BE IMPLEMENTED
            <a href="#" class="small-anchor">Talk</a>
          </li> -->
        </ul>
      </div>

      <div class="page-control-right-side">
        <ul *ngIf="viewingArticle" class="horizontal-links-ul">
          <!-- <li class="no-bullet-li horizontal-links-li">
            <a href="#" class="small-anchor">Read</a>
          </li> -->
          <li class="no-bullet-li horizontal-links-li">
            <a routerLink="{{ currentRoute }}/versions" class="small-anchor"
              >View Edit History</a
            >
          </li>
          <li
            *ngIf="
              loggedIn &&
              currentCanEdit &&
              (currentRole === 'admin' ||
                (currentRole === 'user' && !freezePage))
            "
            class="no-bullet-li horizontal-links-li"
          >
            <a
              routerLink="{{ currentRoute }}/edit"
              ariaCurrentWhenActive="page"
              class="small-anchor"
              >Edit Article</a
            >
          </li>
        </ul>

        <form action="/wiki/search" class="search">
          <input
            class="search-bar"
            type="search"
            name="search-string"
            id="search-string"
            placeholder="Search Wikipedia"
          />
          <button type="submit">Go</button>
        </form>
      </div>
    </div>
  </div>
</div>
