<div class="nav-bar">
  <div class="nav-bar-small-screen">
    <div class="flex-left-side">
      <button type="button" class="show-menu-btn"></button>
      <img
        src="../../assets/wiki-text-logo.svg"
        alt="Wikiped text logo"
        class="wiki-text-logo"
      />
    </div>

    <div class="flex-right-side">
      <div id="small-screen-search" class="search">
        <input
          class="search-bar"
          type="search"
          name="search-bar"
          id="search-bar"
          placeholder="Search Wikipedia"
        />
        <input class="search-button" type="submit" value="Go" />
      </div>
    </div>
  </div>

  <div class="nav-bar-large-screen">
    <div class="user-control-bar">
      <ul class="horizontal-links-ul">
        <li class="no-bullet-li horizontal-links-li">
          <a href="#" class="small-anchor">Create account</a>
        </li>
        <li class="no-bullet-li horizontal-links-li">
          <a href="#" class="small-anchor">Log in</a>
        </li>
      </ul>
    </div>

    <div class="page-control-bar">
      <div class="page-control-left-side">
        <ul class="horizontal-links-ul">
          <li class="no-bullet-li horizontal-links-li">
            <a href="#" class="small-anchor">{{pageType}}</a>
          </li>
          <!-- <li class="no-bullet-li horizontal-links-li"> TO BE IMPLEMENTED
            <a href="#" class="small-anchor">Talk</a>
          </li> -->
        </ul>
      </div>

      <div class="page-control-right-side">
        <ul class="horizontal-links-ul">
          <li class="no-bullet-li horizontal-links-li">
            <a href="#" class="small-anchor">Read</a>
          </li>
          <li class="no-bullet-li horizontal-links-li">
            <a href="#" class="small-anchor">Edit</a>
          </li>
          <!-- <li class="no-bullet-li horizontal-links-li"> TO BE IMPLEMENTED
            <a href="#" class="small-anchor">View History</a>
          </li> -->
        </ul>

        <div class="search">
          <input
            class="search-bar"
            type="search"
            name="search-bar"
            id="search-bar"
            placeholder="Search Wikipedia"
          />
          <input class="search-button" type="submit" value="Go" />
        </div>
      </div>
    </div>
  </div>
</div>
