#new-page-lead-editor,
#new-page-body-editor
{
    width: 50%;
    font-family: monospace, monospace;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid rgb(118, 118, 118);
}


.input-section
{
    display: flex;
}

.guide-text
{
    width: 50%;
    margin-left: 2em;
    font-style: italic;
}

.editor-btns
{
    display: flex;
}

#article-preview
{
    min-height: 10em;
    background-color: #ffffff;
    border: 1px solid #bab2b5;
}