.listing
{
    margin-right: 30%;
    padding-left: 2em;
    border: 1px solid #a2a9b1;
    border-top: none;
    background-color: gainsboro;
}

.listing-item
{
    padding-top: 1em;
    padding-bottom: 1em;
    margin-right: 2em;
}

.header-buttons button
{
    width: 100px;
    border: none;
}

.header-buttons button:hover
{
    border: 1px solid #a2a9b1;
}

ul
{
    margin-top: 0;
}

li
{
    border-bottom: 1px solid #a2a9b1;
}
