<div class="admin-dashboard">
  <h2>Admin Dashboard</h2>
  <div class="header-buttons">
    <button
      type="button"
      [ngStyle]="{ 'background-color': displayUsers ? 'gainsboro' : 'white' }"
      (click)="changeDisplay('users')"
    >
      <h4>Users</h4>
    </button>
    <button
      type="button"
      [ngStyle]="{ 'background-color': displayUsers ? 'white' : 'gainsboro' }"
      (click)="changeDisplay('pages')"
    >
      <h4>Pages</h4>
    </button>
  </div>
  
  <div *ngIf="displayUsers; then userList; else pageList"></div>
  <ng-template #userList>
    <app-pagination
      [paginationType]="'get-all-users'"
      (adminDashboardDeleteUserButtonClicked)="deleteUser($event)"
    ></app-pagination>
  </ng-template>
  <ng-template #pageList>
    <app-pagination
      [paginationType]="'get-all-pages'"
      (adminDashboardDeletePageButtonClicked)="deletePage($event)"
    ></app-pagination>
  </ng-template>
</div>
