<div class="side-bar">
  <a routerLink="/" ariaCurrentWhenActive="page">
    <img src="../../assets/wiki-logo.png" alt="Wikipedia Logo" />
  </a>
  <ul class="vertical-links-ul">
    <li class="no-bullet-li">
      <a
        class="small-anchor"
        routerLink="/"
        ariaCurrentWhenActive="page"
        >Main page</a
      >
    </li>
    <li class="no-bullet-li">
      <a
        class="small-anchor"
        routerLink="/wiki/random"
        ariaCurrentWhenActive="page"
        >Random Article</a
      >
    </li>
    <li class="no-bullet-li" *ngIf="loggedIn">
      <a
        class="small-anchor"
        routerLink="/wiki/new"
        ariaCurrentWhenActive="page"
        >Create New Article</a
      >
    </li>
    <!-- <li class="no-bullet-li">
      <a class="small-anchor" href="#">About Wikipedia</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Contact us</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Donate</a>
    </li> -->
  </ul>
</div>
