<div class="side-bar">
  <a routerLink="/" routerLink="active" ariaCurrentWhenActive="page">
    <img src="../../assets/wiki-logo.png" alt="Wikipedia Logo" />
  </a>
  <ul class="vertical-links-ul">
    <li class="no-bullet-li">
      <a
        class="small-anchor"
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Main page</a
      >
    </li>
    <li class="no-bullet-li">
      <a
        class="small-anchor"
        routerLink="/wiki/random"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Random article</a
      >
    </li>
    <li class="no-bullet-li">
      <a
        class="small-anchor"
        routerLink="/wiki/new"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Create New Article</a
      >
    </li>
    <!-- <li class="no-bullet-li">
      <a class="small-anchor" href="#">About Wikipedia</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Contact us</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Donate</a>
    </li> -->
  </ul>
</div>
