<div class="side-bar">
  <img src="../../assets/wiki-logo.png" alt="Wikipedia Logo" />
  <ul class="vertical-links-ul">
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Main page</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Random article</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">About Wikipedia</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Contact us</a>
    </li>
    <li class="no-bullet-li">
      <a class="small-anchor" href="#">Donate</a>
    </li>
  </ul>
</div>
