.side-bar
{
    display: none;
}

@media screen and (min-width: 425px)
{
    .side-bar 
    {
        display: block; 
        width: 10em;
        padding-left: 1em;
    }

    .side-bar li
    {
        padding: 0.25em 0;
        padding-left: 0.5em;
    }
}