.page-view
{
    margin-top: 1em;
    background-color: #ffffff;
}

#page-view-bottom-hr
{
    height: 5px; 
    background-color: black;
}

#edit-summary
{
    border: 1px dashed gainsboro;
    padding: 1em;
}

.btns
{
    display: flex;
}