.page-view
{
    margin-top: 1em;
    background-color: #ffffff;
}

#page-view-bottom-hr
{
    height: 5px; 
    background-color: black;
}

#edit-summary
{
    border: 1px dashed gainsboro;
    padding: 1em;
}

button
{
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}