<div *ngIf="userInfo">
  <h1>
    {{ userInfo.username }}'s Profile (Status:
    <span
      [ngStyle]="{ color: userStatus.status === 'online' ? 'green' : 'gray' }"
    >
      {{
        userStatus.status.charAt(0).toUpperCase() + userStatus.status.slice(1)
      }} </span
    >, Currently editing:
    <div *ngIf="userStatus.editing; then anchorText; else grayText"></div>
    <ng-template #anchorText>
      <a routerLink="/wiki/{{ userStatusEditing }}">{{
        userStatusEditing
      }}</a>
    </ng-template>
    <ng-template #grayText>
      <span style="color: gray"> None </span>
    </ng-template>
    )
  </h1>
  <div class="multi-col">
    <div id="col1" class="col">
      <div id="user-info">
        <div style="margin-bottom: 1em">
          <h2 class="col-header">User Information</h2>
          <small *ngIf="viewingOwnProfile"
            ><em
              >Note: You need to sign in again after you update your user
              information.</em
            ></small
          >
        </div>
        <table id="user-info-table">
          <tr>
            <td><strong>Username</strong></td>
            <td>{{ userInfo.username }}</td>
            <td *ngIf="viewingOwnProfile || viewerIsAdmin">
              <button
                (click)="startUpdateUsername()"
                *ngIf="!isUpdatingUserInfo"
              >
                Change username
              </button>
            </td>
          </tr>
          <tr>
            <td><strong>Password</strong></td>
            <td><em>Cannot be shown here.</em></td>
            <td *ngIf="viewingOwnProfile || viewerIsAdmin">
              <button
                (click)="startUpdatePassword()"
                *ngIf="!isUpdatingUserInfo"
              >
                Change password
              </button>
            </td>
          </tr>
          <tr>
            <td><strong>Email</strong></td>
            <td>{{ userInfo.email }}</td>
            <td *ngIf="viewingOwnProfile || viewerIsAdmin">
              <button (click)="startUpdateEmail()" *ngIf="!isUpdatingUserInfo">
                Change email
              </button>
            </td>
          </tr>
          <tr>
            <td><strong>Role</strong></td>
            <td>
              {{
                userInfo.role.charAt(0).toUpperCase() + userInfo.role.slice(1)
              }}
            </td>
            <td *ngIf="viewerIsAdmin && !isUpdatingUserInfo">
              <app-modal
                [modalId]="'change-role'"
                [message]="
                  userInfo.role === 'user'
                    ? 'Promote to admin?'
                    : 'Demote to user?'
                "
                [buttonMessage]="
                  userInfo.role === 'user'
                    ? 'Promote to admin'
                    : 'Demote to user'
                "
                (onYesButtonClick)="updateRole()"
              ></app-modal>
            </td>
          </tr>
          <tr>
            <td><strong>Allowed to Edit</strong></td>
            <td>{{ userInfo.can_edit === true ? "Yes" : "No" }}</td>
            <td *ngIf="viewerIsAdmin && !isUpdatingUserInfo">
              <app-modal
                [modalId]="'change-canEdit'"
                [message]="
                  userInfo.can_edit
                    ? 'Remove editing rights?'
                    : 'Return editing rights?'
                "
                [buttonMessage]="
                  userInfo.can_edit
                    ? 'Remove editing rights'
                    : 'Return editing rights'
                "
                (onYesButtonClick)="updateCanEdit()"
              ></app-modal>
            </td>
          </tr>
        </table>

        <div class="update-user-info" *ngIf="isUpdatingUserInfo">
          <div id="update-username" *ngIf="isUpdatingUsername">
            <label for="new-username">New Username</label> <br>
            <input
              type="text"
              name="new-username"
              id="new-username"
              placeholder="Enter Username (No whitespace in between, alphanumeric characters, dash, and underscore only, maximum length of 20)"
              maxlength="20"
              pattern="^[a-zA-Z0-9-_]+$"
              required
            />
            <div class="user-info-btns">
              <app-modal
                [modalId]="'change-username'"
                [message]="'Change username?'"
                [buttonMessage]="'Change username'"
                (onYesButtonClick)="updateUsername()"
              ></app-modal>
              <button type="submit" (click)="cancelUpdate()">Cancel</button>
            </div>
          </div>

          <div id="update-password" *ngIf="isUpdatingPassword">
            <table>
              <tr>
                <td><label for="new-password">New Password</label></td>
              </tr>
              <tr>
                <td>
                  <input
                    type="password"
                    name="new-password"
                    id="new-password"
                    placeholder="Enter Password (No whitespace in between, maximum length of 20)"
                    maxlength="20"
                    pattern="^\S*$"
                    (focus)="removePasswordWarning()"
                    required
                  />
                </td>
                <td *ngIf="!passwordsMatch">
                  <small
                    ><em
                      >The provided passwords does not match with each
                      other.</em
                    ></small
                  >
                </td>
              </tr>
              <tr>
                <td>
                  <label for="rewrite-new-password"
                    >Rewrite new password:
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <input
                    type="password"
                    name="rewrite-new-password"
                    id="rewrite-new-password"
                    placeholder="Repeat Password"
                    maxlength="20"
                    pattern="^\S*$"
                    (focus)="removePasswordWarning()"
                    required
                  />
                </td>
              </tr>
            </table>
            <div class="user-info-btns">
              <app-modal
                [modalId]="'change-password'"
                [message]="'Change password?'"
                [buttonMessage]="'Change password'"
                (onYesButtonClick)="updatePassword()"
              ></app-modal>
              <button type="submit" (click)="cancelUpdate()">Cancel</button>
            </div>
          </div>

          <div id="update-email" *ngIf="isUpdatingEmail">
            <label for="new-email">New email: </label>
            <input
              type="email"
              name="new-email"
              id="new-email"
              placeholder="Enter Email"
              maxlength="320"
              pattern="(.+)@(.+){2,}\.(.+){2,}"
              required
            />
            <div class="user-info-btns">
              <app-modal
                [modalId]="'change-email'"
                [message]="'Change email?'"
                [buttonMessage]="'Change email'"
                (onYesButtonClick)="updateEmail()"
              ></app-modal>
              <button type="submit" (click)="cancelUpdate()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <app-modal
        *ngIf="viewingOwnProfile || viewerIsAdmin"
        [modalId]="'delete-account'"
        [message]="'Are you sure you want to delete this account?'"
        [buttonMessage]="'Delete Account'"
        (onYesButtonClick)="deleteAccount()"
      ></app-modal>
    </div>
    <div id="col2" class="col">
      <h2 class="col-header">Page Contributions</h2>
      <app-pagination [paginationType]="paginationType"></app-pagination>
    </div>
  </div>
</div>
