h1
{
    border-bottom: 1px solid #a2a9b1;
    margin-bottom: 5px;
}

h2
{
    margin-top: 0;
    margin-bottom: 0;
}

table
{
    margin-bottom: 1em;
}

.multi-col
{
    display: flex;
}

.col
{
    flex: 1 1 0px;
}

.col-header
{
    margin-bottom: 0.5em;
}

#col1
{
    margin-right: 2em;
    border-right: 1px solid #a2a9b1;
}

#user-info
{
    display: flex;
    flex-flow: column nowrap;
    padding-right: 2em;
    margin-bottom: 14em;
}

#user-info-table td:nth-child(1)
{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #a2a9b1;
    border-right: 1px solid #a2a9b1;
    border-bottom: 1px solid #a2a9b1;   
}

#user-info-table td:nth-child(2)
{
    padding-left: 10px;
    border-bottom: 1px solid #a2a9b1;
    border-right: 1px solid #a2a9b1;
}

#user-info-table td:nth-child(3)
{
    padding-left: 10px;
}

.update-user-info div > * 
{
    margin-right: 5px;
}

.update-user-info input[type=text], 
.update-user-info input[type=password], 
.update-user-info input[type=email] 
{
    width: 90%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
}

.update-user-info input[type=password]
{
    width: 500px;
}

.update-user-info input[type=text]:valid,
.update-user-info input[type=password]:valid,
.update-user-info input[type=email]:valid
{
  outline: 2px solid green;
}

.update-user-info input[type=text]:invalid,
.update-user-info input[type=password]:invalid,
.update-user-info input[type=email]:invalid
{
  outline: 2px solid red;
}

.user-info-btns
{
    display: flex;
}
