<div class="page">
  <app-side-bar [loggedIn]="loggedIn"></app-side-bar>
  <div class="sandwiched-main-content">
    <app-nav-bar
      [pageType]="pageType"
      [currentRoute]="currentRoute"
      [currentUser]="currentUserInfo?.username"
      [currentUsername]="currentUserInfo?.username"
      [currentRole]="currentUserInfo?.role"
      [currentCanEdit]="currentUserInfo?.can_edit"
      [freezePage]="freezePage"
      [loggedIn]="loggedIn"
      [viewingArticle]="viewingArticle"
      (onLogout)="logOut()"
    ></app-nav-bar>
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
