<h3 class="input-header">Article Title (Required)</h3>
<div class="input-section">
  <input
    type="text"
    name="page-title"
    id="page-title"
    value="{{ pageTitle }}"
    maxlength="32"
    (input)="getTitle($event)"
  />
  <small class="guide-text">
    This will be the term used to search for this article. It has a maximum
    length of 32 characters.
  </small>
</div>

<h3 class="input-header">Article Image URL (Optional)</h3>
<div class="input-section">
  <input
    type="text"
    name="page-image-url"
    id="page-image-url"
    value="{{ pageImageUrl }}"
    (input)="getImageUrl($event)"
  />
  <small class="guide-text">
    This will be the image associated with the article. Note that uploading
    image from your machine is not currently supported -- you can only paste the
    url of an image from the web in the input box (with consideration to
    copyright laws, of course).
  </small>
</div>

<h3 class="input-header">Article Lead (Required)</h3>
<div id="page-lead" class="input-section">
  <div id="page-lead-editor"></div>
  <small class="guide-text"></small>
</div>

<h3 class="input-header">Article Body (Optional)</h3>
<div id="page-body" class="input-section">
  <div id="page-body-editor"></div>
  <small class="guide-text"></small>
</div>

<h3 class="input-header">Short summary of changes you have made (Required)</h3>
<div>
  <input type="text" name="edit-summary-input" id="edit-summary-input" />
</div>

<button id="update-article-preview-btn" (click)="updatePagePreview()">
  Update Article Preview
</button>

<hr />

<h3>Article Preview</h3>
<div id="article-preview" [innerHTML]="pagePreviewSafeHTML"></div>

<div class="editor-btns">
  <app-modal
    [modalId]="'update-article'"
    [message]="'Update article?'"
    [buttonMessage]="'Apply Edit'"
    (onYesButtonClick)="updatePage()"
  ></app-modal>

  <app-modal
    [modalId]="'cancel-update'"
    [message]="'Cancel edit?'"
    [buttonMessage]="'Cancel Edit'"
    (onYesButtonClick)="cancelUpdate()"
  ></app-modal>

  <app-modal
    *ngIf="userRole === 'admin'"
    [modalId]="'freeze-article'"
    [message]="'Do you really want to freeze this article? This will prevent non-admin users from editing this article.'"
    [buttonMessage]="pageFrozen ? 'Unfreeze Article' : 'Freeze Article'"
    (onYesButtonClick)="freezePage()"
  ></app-modal>

  <app-modal
    *ngIf="userRole === 'admin'"
    [modalId]="'delete-article'"
    [message]="'Do you really want to delete this article?'"
    [buttonMessage]="'Delete Article'"
    (onYesButtonClick)="deletePage()"
  ></app-modal>
</div>

